<nav class="">
  <ul class="breadcrumb ">
    <li class="breadcrumb-item">
      <a [routerLink]="['/school']">Dashboard</a>
    </li>

    <li class="breadcrumb-item active">
      Profile
    </li>
  </ul>
</nav>

<div class="row" >
  <div class="col-sm-8 col-sm offset-2">
    <form class="mt-5" [formGroup]="SchoolProfileForm" (ngSubmit)="updateProfile()">
      <div class="form-group">
        <label for="schoolName">School Name</label>
        <input type="text"
         class="form-control"
          id="schoolName"
            placeholder="Taj"
            formControlName="schoolName"
           
            >
      </div>
      <div class="form-group">
        <label for="logo">School Logo</label><br>
        <input type="file" 
       id="logo" 
      
       (change)="onUploadChange($event)"
       accept=".png, .jpg, .jpeg"
       >

       <br>  <br>
         <img  src={{srcLogo}} alt="" id="img" width="100" height="100">
       
      </div>
      <span 
              *ngIf="!logoSizeIsValid"
              class="help-block" style="color: red" >logo shouldn't be over 2 MB!</span>
      <div class="form-group">
          <label for="cover">School Cover</label> <br> 
          <input type="file" 
          id="cover" 
          
          (change)="onUploadChangeCover($event)"
          accept=".png, .jpg, .jpeg">
          <br> <br>
          <img [src]="srcCover" width="800" height="300">
          <div class="pull-right">
            <span 
            *ngIf="!coverSizeIsValid"
            class="help-block" style="color: red">Cover shouldn't be over 2 MB!</span>
        </div>
      </div>




      <!-- Company Cover here -->




      <!-- <div class="form-group">
        <label for="cost">Cost</label>
        <input type="number" class="form-control" id="cost"  placeholder="cost $ $">
      </div> -->

      <!-- <div class="form-group">
        <label for="description">Descruption</label>
        <textarea class="form-control" id="description" rows="3" placeholder="Description" >{{ activeProfile.company_name }}</textarea>
      </div> -->

      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control"
        id="description" 
        rows="3" 
        placeholder="school description"
        formControlName="description"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="website">Website URL</label>
        <input type="text"  
         class="form-control"
          id="website" 
           placeholder="http://www.youtube.com/watch/sdf4g451244" 
           formControlName="website"
          
          >
      </div>

      <div class="form-group">
        <label for="link">URL Link video</label>
        <input type="text"
         class="form-control"
          id="link" 
           placeholder="http://www.youtube.com/watch/sdf4g451244" 
           formControlName="link"
          
          >
      </div>
      
      <div class="form-group">
          <label for="phone">Phone number</label>
          <input type="text"
           class="form-control"
            id="phone"
              placeholder="phone number" 
              formControlName="phone"
             >
        </div>
        <div class="form-group">
            <label for="address">Company address</label>
            <input type="text"
             class="form-control"
              id="address" 
               placeholder="google maps"
               formControlName="address"
               >
          </div>
      <div class="pull-right">
        <button class="btn btn-success ml-2 " type="submit">Save</button>
        
      </div>
    </form>
    <div class="row justify-content-center">
        <img *ngIf="isloading" class="mt-3" src="../../../assets/images/bs.gif" alt="">
    </div>
  </div>
</div>
