
<nav class="">
  <ul class="breadcrumb ">
      <li class="breadcrumb-item">
          <a [routerLink]="['/']">Dashboard</a>
      </li>
     
      <li class="breadcrumb-item active">
          My followers
      </li>
  </ul>
</nav>

<div class="row mt-5 mb-4">
  <div class="col-sm-8"></div>
  <div class="col-sm-2 txt-color">
    
  </div>
  <div class="col-sm-2 txt-color">
    {{count}} Followers 
    </div>
</div>

<div class="row mx-auto">
  <div class="col-xs-6 mr-2 ml-2 mt-2 mb-2" *ngFor="let follower of schollFollowers">
    <div class="card ">
      
      <div class="card-body">
         
        <img [src]="follower.company_logo_image" alt="" width="50" height="50" class="pull-left ">
        <p class="card-text pr"> {{ follower.company_name }} </p>
        <a href="#" class="btn btn-primary pull-right">Follow</a>
      </div>
    </div>
  </div>
 
 
 
</div>