
<nav class="">
    <ul class="breadcrumb ">
        <li class="breadcrumb-item">
            <a [routerLink]="['/school']">Dashboard</a>
        </li>
       
        <li class="breadcrumb-item active">
            History
        </li>
    </ul>
  </nav>
  
  <div class="pull-right">
      <p style="color:blue ">120 Orders</p>
  </div>
  <br><br>
  <div class="row mx-auto">
    <div class="col-xs-6 mr-2 ml-2 mt-2 mb-2">
      <a >
      <div class="card ">
        <div class="card-title mx-4 mt-2">
          Order Number <button class="btn btn-success ml-2" disabled>#502900</button> 
          <div class="pull-right">
              <i class="fa fa-calendar"></i> Successfully delivered <br> <div class="text-center" style="color:gray">on 2018/07/19 </div>
          </div> 
        </div>
          <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
           <span class="card-h"> Name</span> <br>  <i class="fa fa-archive mr-1"></i> <span class="card-content text-center">Order Title</span>  
          </div>
          <div class="col-sm-4">
              <span class="card-h"> Amount</span> <br> <i class="fa fa-shopping-cart mr-1"></i> <span class="card-content text-center">15</span>  
          </div>
          <div class="col-sm-4">
              <span class="card-h">Price </span> <br> <i class="fa fa-calendar mr-1"></i> <span class="card-content text-center">1.500$</span>   
          </div>
        </div>
      </div>
      </div>
    </a>
    </div>
    
    <div class="col-xs-6 mr-2 ml-2 mt-2 mb-2">
        <a >
        <div class="card ">
          <div class="card-title mx-4 mt-2">
            Order Number <button class="btn btn-success ml-2" disabled>#502900</button> 
            <div class="pull-right">
                <i class="fa fa-calendar"></i> Successfully delivered <br> <div class="text-center" style="color:gray">on 2018/07/19 </div>
            </div> 
          </div>
            <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
             <span class="card-h"> Name</span> <br>  <i class="fa fa-archive mr-1"></i> <span class="card-content text-center">Order Title</span>  
            </div>
            <div class="col-sm-4">
                <span class="card-h"> Amount</span> <br> <i class="fa fa-shopping-cart mr-1"></i> <span class="card-content text-center">15</span>  
            </div>
            <div class="col-sm-4">
                <span class="card-h">Price </span> <br> <i class="fa fa-calendar mr-1"></i> <span class="card-content text-center">1.500$</span>   
            </div>
          </div>
        </div>
        </div>
      </a>
      </div>

      <div class="col-xs-6 mr-2 ml-2 mt-2 mb-2">
          <a >
          <div class="card ">
            <div class="card-title mx-4 mt-2">
              Order Number <button class="btn btn-success ml-2" disabled>#502900</button> 
              <div class="pull-right">
                  <i class="fa fa-calendar"></i> Successfully delivered <br> <div class="text-center" style="color:gray">on 2018/07/19 </div>
              </div> 
            </div>
              <div class="card-body">
            <div class="row">
              <div class="col-sm-4">
               <span class="card-h"> Name</span> <br>  <i class="fa fa-archive mr-1"></i> <span class="card-content text-center">Order Title</span>  
              </div>
              <div class="col-sm-4">
                  <span class="card-h"> Amount</span> <br> <i class="fa fa-shopping-cart mr-1"></i> <span class="card-content text-center">15</span>  
              </div>
              <div class="col-sm-4">
                  <span class="card-h">Price </span> <br> <i class="fa fa-calendar mr-1"></i> <span class="card-content text-center">1.500$</span>   
              </div>
            </div>
          </div>
          </div>
        </a>
        </div>

        <div class="col-xs-6 mr-2 ml-2 mt-2 mb-2">
            <a >
            <div class="card ">
              <div class="card-title mx-4 mt-2">
                Order Number <button class="btn btn-success ml-2" disabled>#502900</button> 
                <div class="pull-right">
                    <i class="fa fa-calendar"></i> Successfully delivered <br> <div class="text-center" style="color:gray">on 2018/07/19 </div>
                </div> 
              </div>
                <div class="card-body">
              <div class="row">
                <div class="col-sm-4">
                 <span class="card-h"> Name</span> <br>  <i class="fa fa-archive mr-1"></i> <span class="card-content text-center">Order Title</span>  
                </div>
                <div class="col-sm-4">
                    <span class="card-h"> Amount</span> <br> <i class="fa fa-shopping-cart mr-1"></i> <span class="card-content text-center">15</span>  
                </div>
                <div class="col-sm-4">
                    <span class="card-h">Price </span> <br> <i class="fa fa-calendar mr-1"></i> <span class="card-content text-center">1.500$</span>   
                </div>
              </div>
            </div>
            </div>
          </a>
          </div>
    
      
       
         
           
            
               
                 
                   
  </div>